.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 15px 145px;
}

.nav-block,
.logo-block,
.profile-block {
    flex: 1;
    display: flex;
    align-items: center;
}

.nav-block {
    justify-content: flex-start;
}

.logo-block {
    justify-content: center;
}

.profile-block {
    justify-content: flex-end;
}

nav a {
    margin-right: 20px;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    color: black;
}

nav a:hover {
    color: #007bff;
    transition: color 0.3s ease;
}

.logo {
    height: 40px;
    -webkit-user-drag: none;
}

.profile {
    height: 30px;
    cursor: pointer;
}
